* {
  user-select: none;
}

body,html {
  font-family: sans-serif;
  background-color: #222222;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position:fixed;
}

::-webkit-scrollbar {
  display: none;
}

header {
  color: red;
  font-size: 50px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

#description {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 30px;
}

#images {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #222222;
  transition: top 0.3s ease-in-out;
}

img {
  width: 50%;
  margin: 20px auto;
}

#tags {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

.tag, #back, .project, .search-result {
  cursor: pointer;
}

.tag:hover, #back:hover, .project:hover, .search-result:hover {
  font-style: italic;
  color: red;
}

#back {
  margin-left: 30px;
  color: white;
  text-align: left;
  font-size: 30px;
  margin-top: 20px;
  width: 50px;
  position: fixed;
}

#projects {
  margin-top: 65px;
}

#search-results {
  margin-top: 30px;
  margin-bottom: 30px;
}

#projects, #search-results {
  text-align: left;
  font-size: 30px;
  margin-left: 30px;
  width: 95vw;
  transition: opacity 0.3s;
}

div[data-project] {
  transition: opacity 0.3s;
}

div[data-project] p {
  font-size: 30px;
}

.project {
  margin: 8px;
  margin-left: 0px;
  width: fit-content;
}

#search {
  background-color: #222;
  border: none;
  color: white;
  font-size: 30px;
  caret-color: red;
}

#search::placeholder {
  color: white;
}

#search:focus {
  outline: none;
}

::selection {
  background-color: red;
}
