* {
  user-select: none;
}

body,html {
  font-family: sans-serif;
  background-color: #222222;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position:fixed;
}

::-webkit-scrollbar {
  display: none;
}

header {
  color: red;
  font-size: 50px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

#description {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px;
  caret-color: red;
}

#description:focus {
  outline: none;
}

#images {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #222222;
  transition: top 0.3s ease-in-out;
}

img {
  width: 50%;
  margin: 20px auto;
}

.table-scroll {
  width: 100vw;
  overflow-x: scroll;
}

@media only screen and (max-width: 612px) {
  img {
    width: 100%;
  }
  div[data-project] p {
    width: 100% !important;
  }
  #tags br {
    display: inline !important;
  }
}

#tags br {
  display: none;
}

#tags {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

.tag, #back, .project, .search-result, th {
  cursor: pointer;
}

.tag:hover, #back:hover, .project:hover, .search-result:hover, th:hover {
  font-style: italic;
  color: red;
}

#back {
  margin-left: 30px;
  color: white;
  text-align: left;
  font-size: 30px;
  margin-top: 20px;
  width: 50px;
  position: fixed;
  z-index: 1;
}

#projects {
  margin-top: 65px;
}

#search-results {
  margin-top: 30px;
  margin-bottom: 30px;
}

#projects, #search-results {
  text-align: left;
  font-size: 30px;
  margin-left: 30px;
  width: 95vw;
  transition: opacity 0.3s;
}

div[data-project] {
  transition: opacity 0.3s;
}

div[data-project] p {
  font-size: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: justify;
}

.project {
  margin: 8px;
  margin-left: 0px;
  width: fit-content;
}

#search {
  background-color: #222;
  border: none;
  color: white;
  font-size: 30px;
  caret-color: red;
  padding: 0;
  margin: 0;
}

#search::placeholder {
  color: white;
  transition: color 0.1s;
}

#search:focus {
  outline: none;
}

::selection {
  background-color: red;
}

#search:focus::placeholder {
  color: #666;
}

#random-container {
  margin: 10px 50px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 400px;
}

#random-container img {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
}

.arrow-up {
  background: url(icons/arrow-up.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.arrow-down {
  background: url(icons/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
